# SD202 TP2 - Normalization and SQL

The objectives of this TP are the following:

1. Apply normalization 1NF -> 2NF -> 3NF
2. Perform SQL queries on the normalized database

In this lab, we are going to use a database containing wine information related to 'production' and 'sales'. 

Production <---> Wine <---> Sales


---

### Working with db files in Jupyter
- Python provides an interface for SQLite through the *sqlite3* module
- The **`%%sql`** magic builds upon it (and other tools) to enable the usage of SQL commands within a Jupyter Notebook as in common SQL clients.
- Before proceeding, make sure that **`wine.db`** is in the same path as this notebook.
  - If **`wine.db`** is not in the same path, an empty **`wine.db`** file will be created, resulting in errors in later steps of the TP.
- The SQLite module in Python commits transactions automatically, this means that any change in the DB is immediately written to the file, e.g. creating/deleting tables.
  -  For this reason, it is recommended to have a backup of **`wine.db`** as it is provided in the course's website.

---

**`wine.db`** contains the following unnormalized tables:

<center>**Master1**</center>

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |

From wikipedia:

__Cru__: Often used to indicate a specifically named and legally defined vineyard or ensemble of vineyards and the vines "which grow on [such] a reputed terroir; by extension of good quality." The term is also used to refer to the wine produced from such vines.


<center>**Master2**</center>

|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |
| REGION    | Administrative Region (different to production region) |

We need to prepare the SQL environment:

In [2]:
import sqlite3

In [3]:
def printSchema(connection):
    ### Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [4]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)           # An usefull way to viualize the content of the database

Database schema:
Lieu:
  0: LIEU(TEXT)
  1: REGION(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
Product1:
  0: NV(NUM)
  1: NP(NUM)
  2: QTE(NUM)
Product2:
  0: NV(NUM)
  1: NB(NUM)
  2: DATES(NUM)
  3: LIEU(TEXT)
  4: QTE(NUM)
Producter1:
  0: NP(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
Producter2:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
Vin1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
Vin2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)

We recommend inline __%sql__ as an alternative to sqlite3 package

In [5]:
!pip3 install ipython-sql
%load_ext sql
%sql sqlite:///wine.db

Requirement already satisfied: ipython-sql in /cal/exterieurs/akondolas-21/.local/lib/python3.9/site-packages (0.5.0)
Requirement already satisfied: sqlalchemy>=2.0 in /cal/exterieurs/akondolas-21/.local/lib/python3.9/site-packages (from ipython-sql) (2.0.13)
Requirement already satisfied: prettytable in /cal/exterieurs/akondolas-21/.local/lib/python3.9/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython-genutils in /usr/lib/python3/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in /usr/lib/python3/dist-packages (from ipython-sql) (7.20.0)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in /cal/exterieurs/akondolas-21/.local/lib/python3.9/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: greenlet!=0.4.17 in /cal/exterieurs/akondolas-21/.local/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /cal/exterieurs/akondolas-21/.local/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: pexpect>4.3 in /usr/lib/python3/dist-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /usr/lib/python3/dist-packages (from prettytable->ipython-sql) (0.1.9)

Now, we can see the content of the tables using SQL queries:

In [7]:
%sql SELECT NV, NP, CRU, MILL, DEGRE FROM MASTER1;

 * sqlite:///wine.db
Done.

[(None, 3, None, None, None),
 (None, 6, None, None, None),
 (None, 8, None, None, None),
 (None, 16, None, None, None),
 (None, 17, None, None, None),
 (None, 18, None, None, None),
 (None, 19, None, None, None),
 (None, 20, None, None, None),
 (None, 21, None, None, None),
 (None, 26, None, None, None),
 (None, 28, None, None, None),
 (None, 29, None, None, None),
 (None, 31, None, None, None),
 (None, 32, None, None, None),
 (None, 33, None, None, None),
 (None, 34, None, None, None),
 (None, 37, None, None, None),
 (None, 39, None, None, None),
 (None, 41, None, None, None),
 (None, 44, None, None, None),
 (None, 47, None, None, None),
 (None, 48, None, None, None),
 (None, 49, None, None, None),
 (None, 51, None, None, None),
 (None, 53, None, None, None),
 (None, 57, None, None, None),
 (None, 58, None, None, None),
 (None, 61, None, None, None),
 (None, 62, None, None, None),
 (None, 66, None, None, None),
 (None, 77, None, None, None),
 (None, 83, None, None, None),
 (None, 91, None, None, None),
 (None, 92, None, None, None),
 (None, 94, None, None, None),
 (None, 96, None, None, None),
 (None, 97, None, None, None),
 (None, 100, None, None, None),
 (None, 101, None, None, None),
 (None, 102, None, None, None),
 (None, 103, None, None, None),
 (None, 104, None, None, None),
 (None, 105, None, None, None),
 (None, 106, None, None, None),
 (None, 108, None, None, None),
 (None, 109, None, None, None),
 (None, 110, None, None, None),
 (None, 111, None, None, None),
 (None, 112, None, None, None),
 (None, 113, None, None, None),
 (None, 114, None, None, None),
 (None, 115, None, None, None),
 (None, 116, None, None, None),
 (None, 117, None, None, None),
 (None, 118, None, None, None),
 (None, 119, None, None, None),
 (None, 121, None, None, None),
 (None, 122, None, None, None),
 (None, 123, None, None, None),
 (None, 124, None, None, None),
 (None, 125, None, None, None),
 (None, 126, None, None, None),
 (None, 127, None, None, None),
 (None, 129, None, None, None),
 (1, 1, 'Mercurey', 1980, 11.5),
 (1, 73, 'Mercurey', 1980, 11.5),
 (2, 5, 'Julienas', 1974, 11.3),
 (3, 1, 'Savigny les Beaunes', 1978, 12.1),
 (4, 10, 'Mercurey', 1980, 10.9),
 (5, 30, 'Pommard', 1976, 11.7),
 (6, 42, 'Mercurey', 1981, 11.2),
 (7, 98, 'Grands Echezeaux', 1968, 11.7),
 (8, 90, 'Cotes de Beaune Villages', 1975, 12.3),
 (9, None, 'Chapelle Chambertin', 1973, 11.9),
 (10, 98, 'Beaujolais Villages', 1979, 11.8),
 (11, 5, 'Sylvaner', 1982, 11.2),
 (12, 7, 'Gentil', 1975, 10.7),
 (12, 43, 'Gentil', 1975, 10.7),
 (12, 89, 'Gentil', 1975, 10.7),
 (13, 13, 'Cotes du Rhone', 1968, 12.3),
 (14, 86, 'Chateau Chalon', 1978, 10.9),
 (15, 80, 'Cote de Brouilly', 1973, 11.9),
 (16, 38, 'Meursault', 1980, 12.1),
 (17, 95, 'Meursault', 1975, 11.4),
 (18, 40, 'Chambolle Musigny', 1968, 12.3),
 (19, 7, 'Clos du roi', 1972, 11.2),
 (20, 50, 'Cote de Brouilly', 1980, 12.1),
 (21, 5, 'Cotes de Nuits', 1978, None),
 (22, 86, 'Savigny les Beaunes', 1974, None),
 (23, 86, 'Pommard', 1972, None),
 (24, 36, 'Cotes de Beaune Villages', 1971, 12.1),
 (25, 95, 'Chapelle Chambertin', 1968, 10.5),
 (26, 43, 'Chateau Corton Grancey', 1980, None),
 (27, 99, 'Puligny Montrachet', 1974, 11),
 (28, 50, 'Volnay', 1980, 11),
 (29, 50, 'Corton', 1972, 11.6),
 (30, 22, 'Bourgogne Passe Tout Grains', 1979, 12),
 (31, 50, 'Monthelie', 1968, 11.4),
 (32, 9, 'Pouilly Vinzelles', 1968, 12.3),
 (32, 72, 'Pouilly Vinzelles', 1968, 12.3),
 (33, 60, 'Santenay', 1972, 12),
 (34, 4, 'Montagny', 1978, 11.2),
 (35, 10, 'Auxey Duresses', 1914, 11.3),
 (35, 23, 'Auxey Duresses', 1914, 11.3),
 (36, 93, 'Chorey les Beaunes', 1955, 11),
 (37, 54, 'Savigny les Beaunes', 1978, 10),
 (38, 52, 'Savigny les Beaunes', 1977, 11),
 (39, 52, 'Savigny les Beaunes', 1973, None),
 (40, None, 'Richebourg', 1943, 12),
 (41, 76, 'Clairette de Die', 1976, 12),
 (42, 82, 'Beaujolais Primeur', 1983, 12),
 (43, 13, 'Fleurie', 1980, 11.4),
 (43, 72, 'Fleurie', 1980, 11.4),
 (43, 85, 'Fleurie', 1980, 11.4),
 (44, 93, 'Moulin a vent', 1983, None),
 (45, 2, 'Chiroubles', 1983, None),
 (45, 67, 'Chiroubles', 1983, None),
 (45, 71, 'Chiroubles', 1983, None),
 (45, 78, 'Chiroubles', 1983, None),
 (45, 86, 'Chiroubles', 1983, None),
 (46, 64, 'Chiroubles', 1983, 11),
 (47, 52, 'Chiroubles', 1978, 11),
 (48, 93, 'Cote de Brouilly', 1899, 12),
 (49, 2, 'Morgon', 1984, 12),
 (50, 2, 'Chenas', 1984, 11.5),
 (51, 15, 'Chenas', 1975, 10),
 (52, 40, 'Brouilly', 1975, None),
 (53, 40, 'Beaujolais Villages', 1975, None),
 (54, 1, 'Beaujolais Villages', 1976, 10.5),
 (54, 2, 'Beaujolais Villages', 1976, 10.5),
 (54, 14, 'Beaujolais Villages', 1976, 10.5),
 (54, None, 'Beaujolais Villages', 1976, 10.5),
 (55, 14, 'Beaujolais Villages', 1978, 12.1),
 (56, 24, 'Saint Amour', 1974, None),
 (57, 40, 'Crozes Hermitage', 1974, 12.1),
 (58, 45, 'Crozes Hermitage', 1975, 12.5),
 (59, 45, 'Crozes - Hermitage', 1972, 12.3),
 (60, 50, 'Crozes-Hermitage', 1983, 11),
 (60, 60, 'Crozes-Hermitage', 1983, 11),
 (61, 90, 'Hermitage', 1979, 12),
 (62, 60, 'Gigondas', 1978, 11),
 (63, None, 'Coteaux du Tricastin', 1978, 10),
 (64, 72, 'Coteaux du Tricastin', 1974, 11),
 (64, 85, 'Coteaux du Tricastin', 1974, 11),
 (65, 12, 'Rochgrande', 1968, 10.8),
 (65, 25, 'Rochgrande', 1968, 10.8),
 (66, None, 'Tavel', 1968, 11),
 (67, 5, 'Gewurztraminer', 1968, 12.5),
 (67, 10, 'Gewurztraminer', 1968, 12.5),
 (67, 82, 'Gewurztraminer', 1968, 12.5),
 (68, 12, 'Riesling', 1962, 14),
 (69, 9, "Tokay d'Alsace", 1982, 11),
 (69, 12, "Tokay d'Alsace", 1982, 11),
 (69, 69, "Tokay d'Alsace", 1982, 11),
 (70, 38, 'Sylvaner', 1982, 11),
 (71, 38, 'Palette', 1981, 11),
 (72, 52, 'Cassis', 1978, 10),
 (73, 38, 'Bellet', 1976, 11),
 (74, 70, 'Arbois', 1980, 12),
 (74, 72, 'Arbois', 1980, 12),
 (74, 84, 'Arbois', 1980, 12),
 (75, 38, 'Arbois', 1976, 11),
 (76, 46, 'Chateau Chalon', 1976, 12),
 (76, 85, 'Chateau Chalon', 1976, 12),
 (77, 85, 'Etoile', 1979, 11),
 (78, 4, 'Etoile', 1980, 12),
 (78, 27, 'Etoile', 1980, 12),
 (78, 30, 'Etoile', 1980, 12),
 (78, 68, 'Etoile', 1980, 12),
 (78, 80, 'Etoile', 1980, 12),
 (79, 74, 'Seyssel', 1980, 11),
 (79, 79, 'Seyssel', 1980, 11),
 (79, 81, 'Seyssel', 1980, 11),
 (80, 90, 'Seyssel', 1980, 11),
 (81, 90, 'Cornas', 1980, 11.1),
 (82, 43, 'Cornas', 1980, 11),
 (82, 80, 'Cornas', 1980, 11),
 (83, 95, 'Saint Amour', 1980, 10),
 (84, 95, 'Rasteau', 1980, 10),
 (85, 55, 'Tavel', 1980, 11),
 (86, 93, 'Tavel', 1980, 11),
 (87, 38, 'Cotes de Provence', 1980, None),
 (87, 45, 'Cotes de Provence', 1980, None),
 (87, 72, 'Cotes de Provence', 1980, None),
 (88, 55, 'Cotes de Provence', 1976, 10),
 (89, 15, 'Cotes de Provence', 1969, 11),
 (89, 42, 'Cotes de Provence', 1969, 11),
 (89, 55, 'Cotes de Provence', 1969, 11),
 (89, None, 'Cotes de Provence', 1969, 11),
 (89, 89, 'Cotes de Provence', 1969, 11),
 (90, 56, 'Palette', 1969, 11),
 (90, 95, 'Palette', 1969, 11),
 (91, 79, 'Cassis', 1979, 11),
 (92, 11, 'Coteaux de Pierevert', 1967, None),
 (93, 79, 'Blanquette de Limoux', 1978, None),
 (94, 11, 'Cotes du Rousillon', 1978, None),
 (94, 27, 'Cotes du Rousillon', 1978, None),
 (95, 95, 'Cotes du Rousillon', 1978, 12),
 (96, 59, 'Saint Chinian', 1976, 11),
 (97, 70, 'Saint Chinian', 1976, 11),
 (98, 24, 'Corbieres', 1978, 10),
 (98, 35, 'Corbieres', 1978, 10),
 (98, 75, 'Corbieres', 1978, 10),
 (98, 76, 'Corbieres', 1978, 10),
 (98, 88, 'Corbieres', 1978, 10),
 (99, 5, 'Cote Rotie', 1994, 13),
 (99, 99, 'Cote Rotie', 1994, 13),
 (100, 25, 'Seyssel', 1974, 11),
 (101, 70, 'Saint Veran', 1973, 12.5),
 (107, 107, 'Sancerre', 1998, 14)]

# PART I: Database normalization

The first task on this TP is the normalization of the wine data. In its current state both tables Master1 and Master2 are in the First Normal Form (1NF) and suffer from data redundancy.

__1.1__ Given the set of the following FDs:

NV -> CRU, DEGRE, MILL

NP -> NOM, PRENOM, REGION

NV, NP -> QTE

Convert table Master1 to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable.

* Explain your answer
* Describe the schema of new tables and how they relate

Table Product
NV, NP, QTE
NY,NP ARE KEY

Table VIN
NV, Cru, degre, mill

NV IS KEY 

Table Producter
NP, nom, prenom, region

NP IS KEY

I created two new tables because of the fonctional dependences, and avoiding redundance : For example cru, degre and mill depend yo NV

__1.2__ Given the set of the following FDs:

NV -> CRU, DEGRE, MILL

NB -> NOM, PRENOM, TYPE

NV, NB -> DATES, LIEU, QTE

LIEU -> REGION 

Convert table Master2 to the Second Normal Form (2NF) or Third Normal Form (3NF) as applicable. 
* Explain your answer
* Describe the schema of new tables and how they relate

Table Product
NV, NB, Dates, Lieu, Qte

Table producter
NB, Nom, Prenom, Type

Table vin
NV, CRU, DEGRE, MILL

Table Lieu
Lieu, Region

I created tree new tables because of the fonctional dependences, and avoiding redundance : for example Region depends to Lieu

Once you have defined the 2NF or 3NF (as applicable) we need to split the data into new tables. A table can be created from the result of a query. In the following example we will create a new table "dummy" to store the different values of alcohol content.

In [13]:
%sql DROP TABLE IF EXISTS dummy;

# Create dummy table
%sql CREATE TABLE dummy AS \
SELECT DISTINCT DEGRE \
FROM MASTER1;

print("\nContent of the database")
printSchema(conn)

print("\nContent of dummy")
%sql SELECT * FROM dummy

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.

Content of the database
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
dummy:
  0: DEGRE(NUM)

Content of dummy
 * sqlite:///wine.db
Done.

[(None,),
 (11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

In [17]:
# Remove dummy table
%sql DROP TABLE IF EXISTS dummy;

%sql DROP TABLE IF EXISTS Product1;
%sql DROP TABLE IF EXISTS Vin1;
%sql DROP TABLE IF EXISTS Producter1;

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.

[]

__1.3__ Create the new tables from Master1:

In [18]:
%sql CREATE TABLE Product1 AS SELECT Distinct NV, NP, QTE FROM Master1;

%sql CREATE TABLE Vin1 AS SELECT distinct NV, Cru, degre, mill FROM Master1;

%sql CREATE TABLE Producter1 AS SELECT distinct NP, nom, prenom, region FROM Master1;

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
Done.

[]

__1.4__ Create the new tables from Master2:

In [20]:
%sql CREATE TABLE Product2 AS SELECT Distinct NV, NB, Dates, Lieu, Qte FROM Master2;

%sql CREATE TABLE Vin2 AS SELECT DISTINCT NV, CRU, DEGRE, MILL FROM Master2;

%sql CREATE TABLE Producter2 AS SELECT DISTINCT NB, Nom, Prenom, Type FROM Master2;

%sql CREATE TABLE Lieu AS SELECT Distinct Lieu, Region FROM Master2;

 * sqlite:///wine.db
Done.
 * sqlite:///wine.db
(sqlite3.OperationalError) table Vin2 already exists
[SQL: CREATE TABLE Vin2 AS SELECT DISTINCT NV, CRU, DEGRE, MILL FROM Master2;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///wine.db
(sqlite3.OperationalError) table Producter2 already exists
[SQL: CREATE TABLE Producter2 AS SELECT DISTINCT NB, Nom, Prenom, Type FROM Master2;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///wine.db
(sqlite3.OperationalError) table Lieu already exists
[SQL: CREATE TABLE Lieu AS SELECT Distinct Lieu, Region FROM Master2;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

# PART II: SQL QUERIES

In the second part of this TP you will create SQL queries to retrieve information from the database.

__2.1__ What are the different types of clients (buveurs) by volume of purchases?

In [23]:
%sql SELECT DISTINCT TYPE AS Type_of_buveurs FROM Producter2 WHERE TYPE IS NOT NULL;

 * sqlite:///wine.db
Done.

[('petit',), ('moyen',), ('gros',)]

__2.2__ What regions produce Pommard or Brouilly?

In [25]:
%sql SELECT DISTINCT Pr.region FROM Producter1 Pr JOIN Product1 P ON Pr.NP = P.NP JOIN VIN1 V ON P.NV = V.NV WHERE V.Cru IN ('Pommard', 'Brouilly');

 * sqlite:///wine.db
Done.

[('Bourgogne',), ('Rhone',)]

__2.3__ What regions produce Pommard and Brouilly?

In [8]:
%sql SELECT DISTINCT Pr.region FROM Producter1 Pr JOIN Product1 P ON Pr.NP = P.NP JOIN VIN1 V ON P.NV = V.NV WHERE V.Cru IN ('Pommard', 'Brouilly') GROUP BY REGION HAVING COUNT(CRU)=2  ;

 * sqlite:///wine.db
Done.

[('Bourgogne',)]

__2.4__ Get the number of wines bught by CRU and Millsime

In [9]:
%sql SELECT CRU, MILL, SUM(QTE) Number_of_wines_bought FROM Vin2 v1 JOIN Product2 v2 ON v1.NV=v2.NV WHERE CRU IS NOT NULL AND MILL IS NOT NULL AND QTE IS NOT NULL GROUP BY CRU, MILL;

 * sqlite:///wine.db
Done.

[('Arbois', 1980, 8),
 ('Auxey Duresses', 1914, 80),
 ('Beaujolais Primeur', 1983, 7),
 ('Beaujolais Villages', 1975, 10),
 ('Beaujolais Villages', 1976, 120),
 ('Beaujolais Villages', 1978, 130),
 ('Beaujolais Villages', 1979, 520),
 ('Chapelle Chambertin', 1973, 30),
 ('Chateau Corton Grancey', 1980, 4),
 ('Chenas', 1984, 1),
 ('Clairette de Die', 1976, 5),
 ('Cornas', 1980, 25),
 ('Cote de Brouilly', 1980, 23),
 ('Coteaux du Tricastin', 1974, 1),
 ('Coteaux du Tricastin', 1978, 12),
 ('Cotes de Beaune Villages', 1971, 14),
 ('Cotes de Beaune Villages', 1975, 96),
 ('Cotes de Nuits', 1978, 21),
 ('Cotes de Provence', 1980, 18),
 ('Etoile', 1980, 9),
 ('Fleurie', 1980, 7),
 ('Gentil', 1975, 36),
 ('Gigondas', 1978, 5),
 ('Grands Echezeaux', 1968, 31),
 ('Julienas', 1974, 2),
 ('Mercurey', 1980, 57),
 ('Mercurey', 1981, 36),
 ('Meursault', 1980, 2),
 ('Monthelie', 1968, 106),
 ('Pommard', 1972, 23),
 ('Pommard', 1976, 55),
 ('Pouilly Vinzelles', 1968, 10),
 ('Rasteau', 1980, 15),
 ('Richebourg', 1943, 72),
 ('Saint Amour', 1974, 80),
 ('Saint Amour', 1980, 14),
 ('Savigny les Beaunes', 1974, 44),
 ('Savigny les Beaunes', 1977, 7),
 ('Savigny les Beaunes', 1978, 11),
 ('Seyssel', 1974, 24),
 ('Seyssel', 1980, 21),
 ('Tavel', 1980, 33),
 ('Volnay', 1980, 5)]

__2.5__ Retrieve the wine number (NV) of wines produced by more than three producers

In [10]:
%sql SELECT NV, COUNT(NP) Number_of_producers FROM Product1 WHERE NV IS NOT NULL GROUP BY NV HAVING COUNT(NP) > 3;

 * sqlite:///wine.db
Done.

[(45, 5), (78, 5), (89, 4), (98, 5)]

__2.6__ Which producers have not produced any wine?

In [12]:
%sql SELECT pr.NP, pr.NOM, pr.PRENOM FROM Producter1 pr JOIN Product1 p ON pr.NP = p.NP WHERE p.QTE IS NULL;

 * sqlite:///wine.db
Done.

[(3, 'Six', 'Paul'),
 (6, 'Marmagne', 'Bernard'),
 (8, "Lioger d'Harduy", 'Gabriel'),
 (16, 'Barbin', 'Bernard'),
 (17, 'Faiveley', 'Guy'),
 (18, 'Tramier', 'Jean'),
 (19, 'Dupaquier', 'Roger'),
 (20, 'Lamy', 'Jean'),
 (21, 'Cornu', 'Edmond'),
 (26, 'Violot', 'Gilbert'),
 (28, 'Monnier', 'Rene'),
 (29, 'de Suremain', 'Robert'),
 (31, 'Prudhon', 'Henri'),
 (32, 'Mestre', 'Philippe'),
 (33, 'Prieur', 'Guy'),
 (34, 'Monnier', 'Rene'),
 (37, 'Delagrange Bachelet', None),
 (39, 'de Suremin', 'Hugues'),
 (41, 'Juillot', 'Michel'),
 (44, 'Feyveley', None),
 (47, 'Thenard', None),
 (48, 'Flamand', None),
 (49, 'Guillot', 'Pierre'),
 (51, 'Simonet', 'Leon'),
 (53, 'Cooperative', None),
 (57, 'Desmules', 'Pierre'),
 (58, 'Joubert', 'Claude'),
 (61, 'Champier', 'Charles'),
 (62, 'Champagnon', 'Louis'),
 (66, 'Cooperative', None),
 (77, 'Tissot', 'Andre'),
 (83, 'Goy', None),
 (91, 'Chave', 'Gerard'),
 (92, 'De Boissieu', None),
 (94, 'Grippat', 'Jean Louis'),
 (96, 'Boisson', 'Jean Pierre'),
 (97, 'Quiot', 'Pierre'),
 (100, 'Bernard', 'Georges'),
 (101, 'Verdan', 'Antoine'),
 (102, 'Cooperative', None),
 (103, 'Coulouvrat', 'Michel'),
 (104, 'Rabasse Chavarin', 'Abel'),
 (105, 'Roux', 'Charles'),
 (106, 'Alary', None),
 (108, 'Archimbaud', 'Jean'),
 (109, 'Rey', 'Marcel'),
 (110, 'Cooperative', None),
 (111, 'Zafiropulo', 'Costa'),
 (112, 'Prebost', 'Gaston'),
 (113, 'Gomez', 'Rene'),
 (114, 'Brunet', 'Georges'),
 (115, 'Bordonado', 'Raymond'),
 (116, 'Imbert', 'Christian'),
 (117, 'Cooperative', None),
 (118, 'Cooperative', None),
 (119, 'Cooperative', None),
 (121, 'Cooperative', None),
 (122, 'Dupuy', 'Charles'),
 (123, 'Laurent', 'Pierre'),
 (124, 'Daurat Fort', 'Robert'),
 (125, 'Baldes', 'Jean'),
 (126, 'Jouffreau', 'Jean'),
 (127, 'Brumont', 'Alban'),
 (129, 'Barrere', 'Alfred'),
 (4, 'Stentz', 'Fernand'),
 (12, 'Tortochot', 'Gabriel')]

__2.10__ List all wines from 1980

In [13]:
%sql SELECT NV, CRU, MILL, DEGRE FROM Vin2 WHERE MILL=1980;

 * sqlite:///wine.db
Done.

[(1, 'Mercurey', 1980, 11.5),
 (4, 'Mercurey', 1980, 10.9),
 (16, 'Meursault', 1980, 12.1),
 (20, 'Cote de Brouilly', 1980, 12.1),
 (26, 'Chateau Corton Grancey', 1980, None),
 (28, 'Volnay', 1980, 11),
 (43, 'Fleurie', 1980, 11.4),
 (74, 'Arbois', 1980, 12),
 (78, 'Etoile', 1980, 12),
 (79, 'Seyssel', 1980, 11),
 (80, 'Seyssel', 1980, 11),
 (81, 'Cornas', 1980, 11.1),
 (82, 'Cornas', 1980, 11),
 (83, 'Saint Amour', 1980, 10),
 (84, 'Rasteau', 1980, 10),
 (85, 'Tavel', 1980, 11),
 (86, 'Tavel', 1980, 11),
 (87, 'Cotes de Provence', 1980, None)]

__2.11__ What are the wines from 1980 bought by NB=2?

In [15]:
%sql SELECT vi.NV, p.NB, p.DATES, p.LIEU, p.QTE, vi.CRU, vi.MILL, vi.DEGRE FROM Vin2 vi JOIN Product2 p ON vi.NV = p.NV WHERE vi.MILL=1980 AND p.NB=2 ;

 * sqlite:///wine.db
Done.

[(1, 2, '1977-11-02', 'BORDEAUX', 33, 'Mercurey', 1980, 11.5)]